// ----
// Colors
//
// Prefix color variables as `$c-name`
//
// Color variants should start with color, then vairant:
//   Good example: `$c-blue-light`
//   Bad example:  `$c-light-blue`
//
// ----


/**
 * @sass-export-section="site-colors-all"
 */
$c-white: #ffffff;
$c-white-trans: transparentize($c-white, 0.8);
$c-black: #1b2b38;
$c-black-light: #31312B;
$c-black-trans: transparentize(#101010, 0.5);

$c-gray-03: #D2D2D2;
$c-gray-02: #EAEAEC;
$c-gray-01: #ECECEC;
$c-gray-04: #8C939B;

$c-purple-dark: #3C2B5A; // ???
$c-purple-medium: #4F3779;
$c-purple-brand: #696AB0;
$c-purple-light: #dddefa;

$c-text-brand: $c-black;
$c-text-black-light: #303030;

$c-green-dark: #26423d;
$c-green-light: #436d59;

$c-gold: #DBB164;
$c-yellow: #F9B137;


//@end-sass-export-section

