<div class="o-container-fluid u-align-center">
  <div class="o-row frctl-grid-demo">
    <div class="o-col o-col-sm-12 o-col-sm-md-4 u-align-center">
      <div class="frctl-grid-item">1</div>
    </div>
    <div class="o-col-6 o-col-sm-6 o-col-sm-md-4 u-align-center">
      <div class="frctl-grid-item">2</div>
    </div>
    <div class="o-col-6 o-col-sm-6 o-col-sm-md-4 u-align-center">
      <div class="frctl-grid-item">3</div>
    </div>
  </div>

  <div class="o-row frctl-grid-demo">
    <div class="o-col o-col-sm-2 u-align-center">
      <div class="frctl-grid-item">1</div>
    </div>
    <div class="o-col o-col-sm-8 u-align-center">
      <div class="frctl-grid-item">2</div>
    </div>
    <div class="o-col o-col-sm-2 u-align-center">
      <div class="frctl-grid-item">3</div>
    </div>
  </div>

  <div class="o-row frctl-grid-demo">
    <div class="o-col o-col-sm-3 u-align-center">
      <div class="frctl-grid-item">1</div>
    </div>
    <div class="o-col o-col-sm-9 u-align-center">
      <div class="frctl-grid-item">2</div>
    </div>
  </div>

  <h2>Reverse Row</h2>
  <div class="o-row o-row--reverse frctl-grid-demo">
    <div class="o-col o-col-sm-12 o-col-sm-md-4 u-align-center">
      <div class="frctl-grid-item">1</div>
    </div>
    <div class="o-col o-col-sm-6 o-col-sm-md-4 u-align-center">
      <div class="frctl-grid-item">2</div>
    </div>
    <div class="o-col o-col-sm-6 o-col-sm-md-4 u-align-center">
      <div class="frctl-grid-item">3</div>
    </div>
  </div>
</div>
