:root {
  font-size: 62.5%; // Sets standard to 10px from default 16px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  line-height: 1.2;
}

i, em {
  font-style: italic;
}

b,
strong {
  font-weight: $f-bold;
}

a {
  color: inherit;
  text-decoration: underline;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

abbr[title],
acronym[title] {
  text-decoration: none;
}


